.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.my-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:600px;
    height:500px;
    border-radius: 8px;
    z-index: 1;
}
.input-box{
    border:0;
    border-bottom: 1px solid black;
    outline: none;
    cursor: pointer;
    font-size:22px;
    color:black;
    width:200px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.input-section{
    display: flex;
    align-items: center;
}
.contact-info{
    background-color:#eb346b;
    color:white;
    border-radius:8px;
    width:380px;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-title{
    color:#eb346b;
    align-self: flex-start;
}